<div
  class="c-form-field"
  [class.c-form-field--auto]="width() === 'auto'"
  [class.c-form-field--sm]="size() === 'sm'"
  [class.c-form-field--md]="size() === 'md'"
  [class.c-form-field--lg]="size() === 'lg'"
>
  @if (label()) {
    <label
      class="c-form-field__label"
      [class.u-visually-hidden]="labelHidden()"
      [attr.for]="controlId()"
    >
      <span>{{ label() }}</span>

      @if (required()) {
        <span aria-hidden="true" class="c-form-field__required">*</span>
      }
    </label>
  }

  <div class="c-form-field__control">
    <ng-content />
  </div>

  @if (helperText()) {
    <p class="c-form-field__helper" [attr.id]="helperId()">
      {{ helperText() }}
    </p>
  }

  @if (message()) {
    <p
      class="c-form-field__message"
      [class.c-form-field__message--error]="hasError()"
      [class.c-form-field__message--success]="hasSuccess()"
      [attr.aria-live]="hasError() ? 'assertive' : 'polite'"
      [attr.id]="messageId()"
      [attr.role]="hasError() ? 'alert' : null"
    >
      {{ message() }}
    </p>
  }
</div>
