$font-family-heading: 'Space Grotesk', 'Segoe UI', sans-serif;
$font-family-body: 'Manrope', 'Segoe UI', sans-serif;

$font-size-100: 0.875rem;
$font-size-200: 1rem;
$font-size-300: 1.125rem;
$font-size-400: 1.25rem;
$font-size-500: 1.5rem;
$font-size-600: 2rem;
$font-size-700: 2.75rem;
